audiomentations
diskcache
google-cloud
google-cloud-storage
ipykernel
librosa
matplotlib
paho-mqtt
pymongo[srv]
tensorflow-addons
tensorflow_hub
tensorflow_io
xgboost
pillow>=10.0.1 # not directly required, pinned by Snyk to avoid a vulnerability
